@import "tailwindcss";
@import "./pagy.css";
@import "../../stylesheets/docmd/markdown.css";

@source "../../../views/docmd/**/*.erb";
@source "../../../helpers/docmd/**/*.rb";
@source "../../../javascript/controllers/docmd/**/*.js";
